*{
    background-color: black;
    color: white;
    list-style: none;
}
.header{
    width: 70%;
    margin:0 auto;
    padding-top: 60px;
}
.inner{
    width: 60%;
    margin:0 auto;
}
/* nav */
nav ul {
position: fixed;
right: 10%;
top: 23%;
transform: translateY(-50%);
z-index: 1000;
font-size: 20px;
cursor: pointer;
}
nav ul li {
width: 150px;
padding-top: 3px;
text-align: right;

list-style: none;
}
nav ul li.elon {
font-weight: bold;
color: linen
}
/* section */
.cont_1{
    height: 740px;
}
/* info */
.info{
    float: left;
    padding-top: 175px;
    width: 100%;
}
.info img{
    width: 30%;
    float: left;
    padding-right: 20px;
}

.info ul{
    padding-top: 5px;
    font-size: 2rem;
    margin-top:-10px;
    font-weight: bold;
}
.info ul li{
    font-weight: 100;
    font-size: 1.5rem;
    padding-top: 20px;
    line-height: 45px;
}
.cont_2{
    height: 880px;
    padding-top: 30px;
}
/* ted */s
.ted{
    float: left;
    font-size: 2rem;
    font-weight: bold;
    padding-top: 30px;
}
.ted img{
    cursor: pointer;
    width: 11%;
    
}
/* slide*/
html,
      body {
        position: relative;
        height: 100%;
      }

      body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
      }
      .siwper{
        width: 100%;
        transform: translateX(-5%);
        padding-top: 30px;
    }
      .swiper-container {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        margin-bottom: 0 !important;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      body {
        background: #000;
        color: #000;
      }

      .swiper-container {
        width: 100%;
        height: 300px;
        margin:0 auto;
      }

      .swiper-slide {
        background-size: cover;
        background-position: center;
        margin-bottom: 30px;
        width: 100%;
      }

      .mySwiper2 {
        height: 70%;
        width: 100%;
      }

      .mySwiper {
        width: 50%;
        height: 20%;
        box-sizing: border-box;
        padding: 100%;
      }

      .mySwiper .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: 0.4;
        padding-top: 10px;
      }

      .mySwiper .swiper-slide-thumb-active {
        opacity: 1;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .swiper-button-next{
        transform: translateX(-50px);
        visibility: hidden;
      }
      .swiper-button-next:after{
          visibility: visible;
        transform: translateX(60px);
      }
      .swiper-button-prev{
        visibility: hidden;
        transform: translateX(-5px);
        
      }
      .swiper-button-prev:after{
        visibility: visible;
        transform: translateX(-5px);
      }
.cont_3{
    height: 880px;
}
/* tesla */
.tesla{
    float: left;
    font-size: 2rem;
    padding-top: 20px;
}
.tesla .tesla_logo{
    width: 15%;
}
.tesla img{
    cursor: pointer;
    width: 100%;
    margin: 20px 0;
}
.tesla h4{
    width: 500px;
    margin-left: 200px;
    text-align: center;
    line-height: 40px;
    font-size: 1.2rem;
    font-weight: inherit;
}
.cont_4{
    height: 880px;
}
/* spacex */
.spacex{
    float: left;
    font-size: 2rem;
    padding-top: 20px;
}
.spacex .space_logo{
    width: 15%;
}
.spacex img{
    cursor: pointer;
    width: 100%;
    margin: 20px 0;
}
.spacex h4{
    width: 500px;
    margin-left: 200px;
    text-align: center;
    line-height: 40px;
    font-size: 1.2rem;
    font-weight: inherit;
}
.cont_5{
    height: 2000px;
}
/* book */
.book{
    float: left;
    font-size: 2rem;
    padding-top: 20px;
    margin-bottom: 100px;
    }
.book .book_logo{
        width: 15%;
        margin-bottom: 50px;
    }
.book img{
        cursor: pointer;
        width: 100%;
        margin-top: 20px;
    }
.book .b_1 img{
    float: left;
    cursor: pointer;
    width: 30%;
    margin-top: 70px;
}
.book .b_1 ul{
    float: right;
    font-size: 2rem;
    font-weight: bold;
    line-height: 45px;
    width: 65%;
}
.book .b_1 ul li{
    font-size: 1rem;
    padding-top: 20px;
    line-height: 35px;
    font-weight: normal;
    margin-bottom: 100px;
}
/* b_2 */
.book .b_2{
    margin-left: -10px;
}
.book .b_2 img{
    float: left;
    cursor: pointer;
    width: 30%;
    margin-top: 170px;
    margin-left: -100px;
}
.book .b_2 ul{
    float: left;
    font-size: 2rem;
    font-weight: bold;
    line-height: 45px;
    width: 65%;
    padding-top: 100px;
}
.book .b_2 ul li{
    font-size: 1rem;
    padding-top: 20px;
    line-height: 35px;
    font-weight: normal;
    margin-bottom: 100px;
}
/* b_3 */
.book .b_3{
    float: left;
}
.book .b_3 img{
    float: left;
    cursor: pointer;
    width: 30%;
    margin-top: 75px;
}
.book .b_3 ul{
    float: right;
    font-size: 2rem;
    font-weight: bold;
    line-height: 45px;
    width: 65%;
}
.book .b_3 ul li{
    font-size: 1rem;
    padding-top: 20px;
    line-height: 35px;
    font-weight: normal;
}
.book .b_3 .li_s{
    float: left;
    margin-top: 40px;
    margin-left: -315px;
    letter-spacing: 2.5px;
}
/* 푸터 클릭했을때 높이맞추기 */
.cont_6{
    height: 200px;
}
/* footer */
.footer{
    float: left;
    margin-bottom: 100px;
    padding-bottom: 200px;
}
.footer img{
    padding-right: 135px;
}
.footer .insta img{
    float: left;
    width: 5%;
}
.footer .facebook img{
    float: left;
    width: 5%;
}
.footer .twitter img{
    float: left;
    width: 5%;
}
.footer .google img{
    float: left;
    width: 5%;
}
.footer .naver img{
    float: left;
    width: 5%;
}
@media (max-width: 1024px) {
    .inner {
        width: 100%;
        margin: 20px 70px;
    }

    nav ul {
        display: flex;
        position: fixed;
        right: 0px;
        top: 10px;
        width: 100%;
    }

    nav ul li {
        width: calc(100% / 6);
        padding-top: 35px;
        text-align: center;
        font-size: 1.3rem;
    }

    .logo {
        width: 60%;
        margin-top: 80px;
    }

    .info {
        justify-content: center;
        width: 100%;
        
    }
.cont_2{
    height: 880px;
    padding-top: 80px;
    }
    /* ted */s
.ted{
    float: left;
    font-size: 2rem;
    font-weight: bold;
    padding-top: 30px;
}
.ted img{
    cursor: pointer;
    width: 10%;
}
/* slide*/
html,
      body {
        position: relative;
        height: 100%;
      }

      body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
      }

      .swiper-container {
        width: 100%;
        height: 100%;
      }

      .siwper{
        width: 105%;
        padding-top: 40px;
    }
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        margin-bottom: 0 !important;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      body {
        background: #000;
        color: #000;
      }

      .swiper-container {
        width: 100%;
        height: 300px;
        margin:0 auto;
      }

      .swiper-slide {
        background-size: cover;
        background-position: center;
        margin-bottom: 30px;
        width: 100%;
      }

      .mySwiper2 {
        height: 70%;
        width: 100%;
      }

      .mySwiper {
        transform: translateX(-15%);
        width: 50%;
        height: 20%;
        box-sizing: border-box;
        padding: 100%;
      }

      .mySwiper .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: 0.4;
        padding-top: 20px;
      }

      .mySwiper .swiper-slide-thumb-active {
        opacity: 1;
      }

      .swiper-slide img {
        display: block;
        width: 89%;
        height: 100%;
        object-fit: cover;
        /* margin-top: 20px; */
      }
      /* .swiper-button-next:after{
        transform: translateX(-200px);
      }
      .swiper-button-prev:after{
        transform: translateX(25px);
      } */
      .swiper-button-next{
        transform: translateX(-71px);
        visibility: hidden;
      }
      .swiper-button-next:after{
          visibility: visible;
        transform: translateX(-71px);
      }
      .swiper-button-prev{
        visibility: hidden;
        transform: translateX(22px);
        
      }
      .swiper-button-prev:after{
        visibility: visible;
        transform: translateX(22px);
      }
      
    .cont_3{
        height: 880px;
        padding-top: 30px;
    }
    .tesla img{
        width: 88%;
    }
    .swiper-button-prev{
       width: 50%;
    }
    .tesla h4{
        margin-left: 190px;
    }
    .cont_4{
        height: 880px;
    }
    .spacex img{
        width: 88%;
        padding-top: 30px;
        padding-left: -50px;
    }
    .spacex h4{
        margin-left: 200px;
    }
    .cont_5{
        height: 2300px;
    }
    .book img{
        padding-top: 30px;
    }
    .book .b_1 img{
        float: left;
        cursor: pointer;
        width: 30%;
        margin-top: 45px;
    }
    .book .b_1 ul{
        padding-left: 40px;
    }
    .book .b_1 ul li{
        padding-left: 10px;
    }
    /* .book .b_3 .li_s{
        margin-top: 40px;
    } */
    .book .b_3 img{
    margin-top: 45px;
    }
    .book .b_3 ul{
        padding-left: 10px;
    }
    .book .b_3 .li_s{
        float: left;
        margin-top: 55px;
        margin-left: -328px;
        letter-spacing: 2.5px;
    }
    /* 푸터 클릭했을때 높이맞추기 */
    .cont_6{
        height: 300px;
    }
}
@media (max-width: 760px) {

    .inner {
        width: 100%;
        margin: 0 auto;
    }
    
    nav ul li {
        width: calc(100% / 6);
        padding-top: 30px;
        text-align: center;
        font-size: 0.8rem;
    }
    .cont_1{
        height: 690px;
    }

    .logo {
        width: 60%;
        margin: 80px 0 -30px -40px;
    }
    
    .info {
        margin-left: 50px;
        margin-top: 100px;
        width: 80%;
    }
    .info ul{
        width: 100%;
    }
    .info ul li{
        font-size: 1rem;
        line-height: 30px;
    }
    .cont_2{
        height: 617px;
        padding-top: 100px;
        }
        /* ted */s
    .ted{
        float: left;
        font-size: 2rem;
        font-weight: bold;
    }
    .ted img{
        cursor: pointer;
        width: 11%;
    }
    /* slide*/
    html,
          body {
            position: relative;
            height: 100%;
            margin-left: 80px;
          }
    
          body {
            background: #eee;
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 14px;
            color: #000;
            margin: 0;
            padding: 0;
          }
          .siwper{
            width: 100%;
            transform: translateX(-5%);
            padding-top: 50px;
        }
          .swiper-container {
            width: 100%;
            height: 100%;
          }
    
          .swiper-slide {
            text-align: center;
            font-size: 18px;
            margin-bottom: 0 !important;
    
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
          }
    
          .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
    
          body {
            background: #000;
            color: #000;
          }
    
          .swiper-container {
            width: 100%;
            height: 300px;
            margin:0 auto;
          }
    
          .swiper-slide {
            background-size: cover;
            background-position: center;
            margin-bottom: 30px;
            width: 100%;
          }
    
          .mySwiper2 {
            height: 75%;
            width: 95%;
          }
    
          .mySwiper {
            transform: translateX(-5%);
            width: 50%;
            height: 20%;
            box-sizing: border-box;
            padding: 100%;
          }
    
          .mySwiper .swiper-slide {
            width: 100%;
            height: 100%;
            opacity: 0.4;
            padding-top: 20px;
          }
    
          .mySwiper .swiper-slide-thumb-active {
            opacity: 1;
          }
    
          .swiper-slide img {
            display: block;
            width: 98%;
            height: 100%;
            object-fit: cover;
          }
          .swiper-button-next{
            transform: translateX(-40px);
            visibility: hidden;
          }
          .swiper-button-next:after{
              visibility: visible;
            transform: translateX(40px);
          }
          .swiper-button-prev{
            visibility: hidden;
            transform: translateX(-5px);
            
          }
          .swiper-button-prev:after{
            visibility: visible;
            transform: translateX(-5px);
          }
          
        .cont_3{
            height: 880px;
        }
        .tesla img{
            width: 88%;
        }
        .swiper-button-prev{
           width: 50%;
        }
        .tesla h4{
            margin-left: 40px;
        }
        .cont_4{
            height: 880px;
        }
        .spacex img{
            width: 88%;
            padding-top: 30px;
            padding-left: -50px;
        }
        .spacex h4{
            margin-left: 30px;
            line-height: 37px;
        }
        .cont_5{
            height: 1300px;
        }
        .book img{
            padding: 50px 0 100px 0;
        }
        .book .b_1 img{
            float: left;
            cursor: pointer;
            margin-top: -50px;
        }
        .book .b_1 ul{
            padding-left: 30px;
            margin-top: -60px;
            font-size: 1.5rem;
        }
        .book .b_1 ul li{
            font-size: 0.8rem;
            line-height: 25px;
            margin-top: -8px;
            letter-spacing: 1.3px;
        }
        .book .b_2 img{
            float: left;
            cursor: pointer;
            margin-top: 135px;
            margin-left: -55px;
        }
        .book  .b_2 ul{
            margin-left: -195px;
            font-size: 1.5rem;
        }
        .book .b_2 ul li{
            font-size: 0.8rem;
            line-height: 25px;
        }
        /* .book .b_3 .li_s{
            margin-top: 40px;
        } */
        .book .b_3  img{
            float: left;
            cursor: pointer;
            margin-top: 80px;
        }
        .book .b_3  ul{
            padding-left: 30px;
            margin-top: 75px;
            font-size: 1.5rem;
        }
        .book .b_3  ul li{
            font-size: 0.8rem;
            line-height: 25px;
            margin-top: -18px;
        }
        .book .b_3 .li_s{
            float: left;
            margin-top: 35px;
            margin-left: -238px;
            letter-spacing: 1.3px;
            
        }
        /* 푸터 클릭했을때 높이맞추기 */
        .cont_6{
            height: 200px;
        }
        .footer{
            width: 100%;
        }
        .footer img{
            padding-right: 99px;
            
        }
}